hmtl, body {
    height: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    font-family: 'lato';
}

.banner {
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    justify-content: center;
    color:white;
}

.banner-start {
    display: flex;
    position: relative;
    justify-content: center;
}

.rubrik {
    position: absolute;
    margin-top: 200px;
    text-shadow:1px 2px 8px rgb(49, 49, 49);
}

.headline {
    position: absolute;
    margin-top: 260px;
    text-align: center;
    text-shadow:1px 2px 8px rgb(49, 49, 49);
}

.container-presentation {
    background-image: url(../images/me.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    flex-direction: row;
    color: gray;
    justify-content: center;
    text-align: end;
    padding-top: 50px;
    padding-right: 200px;
    padding-bottom: 50px;
}

.presentation {
    margin-right: 150px;
}

.me {
    border-radius: 100px;
}

.container-goal {
    color: gray;
    justify-content: center;
    text-align: start;
    padding-left: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.goal-exp {
    margin-left: 100px;
}

.goal {
    display: flex;
    flex-direction: row;
}


.areas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
}

.cont-html-css{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cont-javascript{
    text-align: center;
}

.ar {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 2px 8px gray;
    border-radius: 5px;
    margin: 0px;
}

.end {
    padding-top: 25px;
}

.container-future {
    background-color: black;
    display: flex;
    flex-direction: row;
    color: white;
    color: gray;
    justify-content: center;
    text-align: start;
 
    padding-top: 50px;
    padding-bottom: 50px;
}

.future {
    display: flex;
}

.future-exp {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.future-exp {
    margin-left: 100px;
}

.container-company {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
}

.company {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-bottom: 40px;
}

.logotypes{
    display: flex;
}

.prints {
    display: flex;
}

.webb {
    display: flex;
}